REQUIREMENTS:

at least four different .html pages (hyperlinks) - DONE!
Your website must include at least one list (ordered or unordered) DONE, at least one table, and at least one image. - DONE!
Your website must have at least one stylesheet file. - DONE!
Stylesheet(s) must use at least five different CSS properties, and at least five different types of CSS selectors. You must use the #id selector at least once, and the .class selector at least once. - DONE!
Stylesheet(s) must include at least one mobile-responsive @media query, such that something about the styling changes for smaller screens.
Use Bootstrap 4 on your website, taking advantage of at least one Bootstrap component, and using at least two Bootstrap columns for layout purposes using Bootstrap’s grid model. - DONE!
Stylesheets must use at least one SCSS variable, at least one example of SCSS nesting, and at least one use of SCSS inheritance.
In README.md, include a short writeup describing your project, wha


Two rows table (no bootstrap)

<div class="grid">
    <div class="grid1">
      <p class="metp">Gutiarists:</p>
      <ul>
        <li>Dave Mustaine --- </li>
        <li>Kiko Loureiro --- </li>
      </ul>
    </div>
    <div class="grid1">
      <p class="metp">Bassist and dummer:</p>
      <ul>
        <li>David Ellefson --- </li>
        <li>Dirk Verbeuren --- Drums</li>
      </ul>
    </div>
  </div>

  <div id="mar">
      <img src="images/metallica.jpg" alt="Metallica", style="height:30%;width:60%;">
  </div>
