header {
  text-align: center;
  font-size: 50px;
}

.index {
     background-color: #d8e1eb;
     width: 150px;
     height: 120px;
     border: 1px solid black;
}

.metp {
font-weight: bold;
font-size: 16px;
}

.grid, .txtimg {
  display: grid;
  grid-template-columns: auto auto;
}

.grid1 {
       background-color: #d8e1eb;
       border: 1px solid black;
       text-align: 25%;
}

#mar {
  height:45%;
  width:75%;
  background-color: #d8e1eb;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border: 2px solid black;
}

@media (max-width: 499px) {
  .btt {
  visibility: hidden;
  }
}

@media (min-width: 500px) {
  .btt {
   visibility: visible;
  }
}
