header {
  text-align: center;
  font-size: 50px;
}

.index {
     background-color: #d8e1eb;
     width: 150px;
     height: 120px;
     border: 1px solid black;
}

.metp {
font-weight: bold;
font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.grid1 {
       background-color: #d8e1eb;
       border: 1px solid black;
}
